/*Custom CSS for our site outside base theme*/

#myModal3 .modal-header img {
  margin: 0 auto;
  display: block; 
}
#myModal2 .modal-footer img {
  margin: 0 auto;
  display: block; 
}
#myModal2 .modal-footer p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  display: block; 
  text-align: center;
  font-size: 12px;
}
#contact {
  padding-top: 0;
}
.nav a {
  color: #222 !important;
}
.navbar {
  border: none;
}
.modal-title {
  padding-bottom: 10px;
}
#logo {
  margin-top: 12%;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
}
#equipment h3 {
  text-align: center;
}